{% extends 'base.html.twig' %}

{% block title %}Hello TournamentController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Listado de Torneos</h1>
		<table class="table table-sm caption-top">
			<thead class="table-light">
				<tr>
					<th>ID</th>
					<th>Fecha</th>
					<th style="text-align:end;"><strong>Ganador</strong></th>
					<th>JSON</th>
				</tr>
			</thead>
			<tbody>
				{% for tournament in tournaments %}
					<tr>
						<td>{{tournament.id}}</td>
						<td>{{tournament.getDate()|date("d/m/Y")}}</td>
						<td style="text-align:end;"><strong>{{tournament.getWinner()}}</strong></td>
						<td>{{tournament.toJSON()}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
