{% extends 'base.html.twig' %}

{% block title %}Listado de Etapas
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Listado de Etapas</h1>
		<table class="table table-sm caption-top">
			<thead class="table-light">
				<tr>
					<th>ID</th>
					<th>Torneo</th>
					<th style="text-align:center;">Secuencia</th>
				</tr>
			</thead>
			<tbody>
				{% for stage in stages %}
					<tr>
						<td><a href="/stage/{{ stage.getId() }}">{{stage.getId()}}</a></td>
						<td>{{stage.getTournament().getDate()|date("d/m/Y")}}</td>
						<td style="text-align:center;">{{stage.getSequence()}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
